@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$violet-palette,
      tertiary: mat.$pink-palette,
      theme-type: dark,
    ),
    typography: Inter,
    density: 0,
  ));
}
